<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>{{ title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- styles -->
      {% for s in css %}
      <link href='{{ url_for("static", filename=s) }}' rel="stylesheet" media="screen">
      {% endfor %}


  </head>
  <body>
    <div class="container">
      <h1>Weather</h1>
      <br>

    </div>
    <div id="content">
            <div class="col-md-5">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Date/Time received:</td>
                            <td>Temperature:</td>
                            <td>Barometric Pressure:</td>
                            <td>Humidity:</td>
                        </tr>
                        <tr>
                            <td><span id="weather_pretty_time" ></span> </td>
                            <td><span id="weather_temperature"></span>  </td>
                            <td><span id="weather_barometer"></span>    </td>
                            <td><span id="weather_humidity"></span>     </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <button onclick="refresh_weather()">refresh</button>
    </div>
    <div id="graph"></div>

  </body>
    <!-- scripts -->
  {% for s in scripts %}
  <script src='{{ url_for("static", filename=s) }}'></script>
  {% endfor %}
</html>